In [39]:
from sklearn.ensemble import RandomForestClassifier

In [40]:
import pandas as pd

In [41]:
car=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data",names=["buying","maint","doors","persons","lug_boot","safety","class"])

In [42]:
car.head()

  buying  maint doors persons lug_boot safety  class
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [43]:
car.buying.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)

In [48]:
X= car.drop(columns="class")
X= pd.get_dummies(x)

In [53]:
y= car[["class"]]
car["class"].unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [60]:
y= car [["class"]].replace(to_replace =['unacc', 'acc', 'vgood', 'good'],
                           value=[1,2,3,4])

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X_train, X_test,y_train,y_test= train_test_split(X,y, test_size=0.3,random_state=1)

In [63]:
from sklearn.ensemble import RandomForestClassifier

In [64]:
rf = RandomForestClassifier()

In [66]:
rf_model = rf.fit(X_train,y_train)

<ipython-input-66-78744be7e6da>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf_model = rf.fit(X_train,y_train)

In [68]:
y_pred = rf_model.predict(X_test)

In [70]:
from sklearn import metrics

In [76]:
print ("Accuracy:",metrics.accuracy_score(y_test,y_pred))

Accuracy: 0.9614643545279383

In [78]:
metrics.confusion_matrix(y_test,y_pred)

array([[360,   8,   0,   0],
       [  3, 106,   1,   1],
       [  0,   1,  17,   0],
       [  0,   5,   1,  16]], dtype=int64)